{% extends "layouts/base.html" %}

{% block title %} Volunteer {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <form role="form" action="" method="POST">
                    {% csrf_token %}

                    <div class="card">
                        <div class="card-header">
                            <h5>Profile Details</h5>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                
                                <div class="col-md-4 my-2">
                                    <label for=""><b>First Name </b></label>
                                    {{ sform.first_name }}
                                </div>

                                <div class="col-md-4 my-2">
                                    <label for=""><b>Last Name: </b></label>
                                    {{ sform.last_name }}
                                </div>
                                
                                <div class="col-md-4 my-2">
                                    <label for=""><b>Phone Number: </b></label>
                                    {{ sform.phone }}
                                </div>

                                <div class="col-md-4 my-2">
                                    <label for=""><b>Email: </b></label>
                                    {{ sform.email }}
                                </div>

                                <div class="col-md-4 my-2">
                                    <label for=""><b>Password: </b></label>
                                    {{ sform.password1 }}
                                </div>

                                <div class="col-md-4 my-2">
                                    <label for=""><b>Re-enter Password: </b></label>
                                    {{ sform.password2 }}
                                </div>

                                <div class="col-md-4 my-2">
                                    <label for=""><b>Date Of Birth: </b></label>
                                    {{ sform.birth_date }}
                                </div>

                                <div class="col-md-4 my-2">
                                    <label for=""><b>Gender: </b></label>
                                    {{ sform.gender }}
                                </div>

                                <div class="col-md-4 my-2">
                                    <label for=""><b>Address Line 1: </b></label>
                                    {{ sform.addressline1 }}
                                </div>

                                <div class="col-md-4 my-2">
                                    <label for=""><b>Address Line 2 (Optional): </b></label>
                                    {{ sform.addressline2 }}
                                </div>

                                <div class="col-md-4 my-2">
                                    <label for=""><b>City: </b></label>
                                    {{ sform.city }}
                                </div>

                                <div class="col-md-4 my-2">
                                    <label for=""><b>Pincode: </b></label>
                                    {{ sform.pincode }}
                                </div>

                            </div>
                        </div>

                        <div class="card">
                        <div class="card-header">
                            <h5>Personal Details</h5>
                        </div>

                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-4 my-2">
                                    <label for=""><b>Highest Education </b></label>
                                    {{ form.highest_eduction }}
                                </div>

                                <div class="col-md-4 my-2">
                                    <label for=""><b>Educational Institution </b></label>
                                    {{ form.educational_institution }}
                                </div>

                                <div class="col-md-4 my-2">
                                    <label for=""><b>LinkedIn Profile Url </b></label>
                                    {{ form.linkedIn_profile }}
                                </div>

                                <div class="col-md-4 my-2">
                                    <label for=""><b>Facebook Profile Url </b></label>
                                    {{ form.facebook_profile }}
                                </div>

                                <div class="col-md-4 my-2">
                                    <label for=""><b>Aadhar Card </b></label>
                                    {{ form.aadhar_card }}
                                </div>

                                <div class="col-md-4 my-2">
                                    <label for=""><b>Current Occupation </b></label>
                                    {{ form.current_occupation }}
                                </div>

                                <div class="col-md-4 my-2">
                                    <label for=""><b>Office Address </b></label>
                                    {{ form.office_address }}
                                </div>

                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary my-3 col-md-4">Save</button>
                </form>
            </div>


            

            <!-- [ Main Content ] end -->
        </div>
    </div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(function () {
        try {
            console.log(dateformat());
            $('.js-datepicker').daterangepicker({
                "singleDatePicker": true,
                "showDropdowns": true,
                "autoUpdateInput": false,
                // "maxDate": dateformat(),
                locale: {
                    format: 'YYYY-MM-DD'
                },
            });

            var myCalendar = $('.js-datepicker');
            var isClick = 0;

            $(window).on('click', function () {
                isClick = 0;
            });

            $(myCalendar).on('apply.daterangepicker', function (ev, picker) {
                isClick = 0;
                $(this).val(picker.startDate.format('YYYY-MM-DD'));

            });

            $('.js-btn-calendar').on('click', function (e) {
                e.stopPropagation();

                if (isClick === 1) isClick = 0;
                else if (isClick === 0) isClick = 1;

                if (isClick === 1) {
                    myCalendar.focus();
                }
            });

            $(myCalendar).on('click', function (e) {
                e.stopPropagation();
                isClick = 1;
            });

            $('.daterangepicker').on('click', function (e) {
                e.stopPropagation();
            });


        } catch (er) { console.log(er); }
    });
    
</script>

{% endblock javascripts %}