{% extends "layouts/base.html" %}

{% block title %} beneficiary {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <form role="form" action="" method="POST">
                    {% csrf_token %}

                    <div class="card">
                        <div class="card-header">
                            <h5>Beneficiary Details</h5>
                        </div>

                        <div class="card-body">

                            <!-- Tabs navs -->
                            <div class="row">
                                <ul class="nav nav-pills nav-justified col-12 mb-3" id="pills-tab"
                                    role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="pills-home-tab"
                                            data-toggle="pill" href="#pills-home" role="tab"
                                            aria-controls="pills-home"
                                            aria-selected="true">Beneficiary Information</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="pills-profile-tab"
                                            data-toggle="pill" href="#pills-profile" role="tab"
                                            aria-controls="pills-profile"
                                            aria-selected="false">Academic Record</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="pills-contact-tab"
                                            data-toggle="pill" href="#pills-contact" role="tab"
                                            aria-controls="pills-contact"
                                            aria-selected="false">Family Information</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Tabs navs -->

                            <!-- Tabs content -->
                            <div class="row">
                                <div class="tab-content tab-justify" id="pills-tabContent">

                                    <div class="tab-pane fade show active" id="pills-home"
                                        role="tabpanel" aria-labelledby="pills-home-tab">
                                        <div class="row">
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Ben ID: </b></label>
                                                <input type="text" class="form-control"
                                                    id="beneficiaryID" placeholder="Beneficiary ID">
                                            </div>

                                            <div class="col-md-4 my-2">
                                                <label for=""><b>First Name </b></label>
                                                <input type="text" class="form-control"
                                                    id="beneficiaryFnameID"
                                                    placeholder="First Name">
                                            </div>

                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Last Name: </b></label>
                                                <input type="text" class="form-control"
                                                    id="beneficiaryLnameID" placeholder="Last Name">
                                            </div>

                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Vol ID: </b></label>
                                                <input type="text" class="form-control"
                                                    id="BvolunteerID" placeholder="Volunteer ID">
                                            </div>

                                            <div class="col-md-4 my-2">
                                                <label class="col-12" for=""><b>DOB </b></label>
                                                <input type="date" class="col-12 form-control"
                                                    id="birthday" name="birthday">
                                            </div>

                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Email: </b></label>
                                                <input type="email" class="form-control"
                                                    id="beneficiaryEmailID" placeholder="Email">
                                            </div>

                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Phone Number: </b></label>
                                                <input type="text" class="form-control"
                                                    id="beneficiaryPhnID"
                                                    placeholder="Phone Number">
                                            </div>

                                            <div class="col-md-4 my-2">
                                                <label for=""><b>School Name </b></label>
                                                <input type="text" class="form-control"
                                                    id="beneficiarySkoolnameID"
                                                    placeholder="School Name">
                                            </div>

                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Donor Status: </b></label>
                                                <input type="text" class="form-control"
                                                    id="beneficiaryStatusID"
                                                    placeholder="Donor Status">
                                            </div>

                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Beneficiary Type: </b></label>
                                                <select class="form-control" id="beneficiaryTypeID"
                                                    name="select2">
                                                    <option value="0" disabled selected hidden>
                                                        ---------
                                                    </option>
                                                    <option value="1">Option 1</option>
                                                    <option value="2">Option 2</option>
                                                    <option value="3">Option 3</option>
                                                </select>
                                            </div>

                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Donation Amount: </b></label>
                                                <input type="text" class="form-control"
                                                    id="beneficiaryAmtID"
                                                    placeholder="Donation Amount">
                                            </div>

                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Location: </b></label>
                                                <input type="text" class="form-control"
                                                    id="beneficiaryLocID" placeholder="Location">
                                            </div>

                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Country: </b></label>
                                                <select class="form-control"
                                                    id="beneficiaryCountrydropdownMenuButton"
                                                    name="select2">
                                                    <option value="0" disabled selected hidden>
                                                        ---------
                                                    </option>
                                                    <option value="1">Option 1</option>
                                                    <option value="2">Option 2</option>
                                                    <option value="3">Option 3</option>
                                                </select>
                                            </div>

                                            <div class="col-md-4 my-2">
                                                <label for=""><b>City: </b></label>
                                                <select class="form-control"
                                                    id="beneficiaryCitydropdownMenuButton"
                                                    name="select2">
                                                    <option value="0" disabled selected hidden>
                                                        ---------
                                                    </option>
                                                    <option value="1">Option 1</option>
                                                    <option value="2">Option 2</option>
                                                    <option value="3">Option 3</option>
                                                </select>
                                            </div>

                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Pincode: </b></label>
                                                <input type="text" class="form-control"
                                                    id="beneficiaryPinID" placeholder="Pincode">
                                            </div>

                                            <div class="col-md-12 my-2">
                                                <label for=""><b>Address: </b></label>
                                                <input type="text" class="form-control"
                                                    id="beneficiaryAddrsID" placeholder="Address">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                        aria-labelledby="pills-profile-tab">
                                        <div class="row">
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Ben ID: </b></label>
                                                <input type="text" class="form-control"
                                                    id="beneficiaryID" placeholder="Beneficiary ID">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Performance ID: </b></label>
                                                <input type="text" class="form-control"
                                                    id="performanceID" placeholder="Performance ID">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Vol ID: </b></label>
                                                <input type="text" class="form-control"
                                                    id="BvolunteerID" placeholder="Volunteer ID">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Grade/Class/Course Name:
                                                    </b></label>
                                                <input type="text" class="form-control" id="gradeID"
                                                    placeholder="Grade/Class/Course Name">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Year Of Passing: </b></label>
                                                <input type="text" class="form-control"
                                                    id="passyearID" placeholder="Year Of Passing">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Result: </b></label>
                                                <input type="text" class="form-control"
                                                    id="resultID" placeholder="Result">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>% Marks: </b></label>
                                                <input type="text" class="form-control" id="marksID"
                                                    placeholder="% Marks">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>School Name: </b></label>
                                                <input type="text" class="form-control"
                                                    id="schoolID" placeholder="School Name">
                                            </div>
                                            <div class="col-md-4 my-2"></div>
                                            <hr>

                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Ben ID: </b></label>
                                                <input type="text" class="form-control"
                                                    id="beneficiaryID" placeholder="Beneficiary ID">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Performance ID: </b></label>
                                                <input type="text" class="form-control"
                                                    id="performanceID" placeholder="Performance ID">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Vol ID: </b></label>
                                                <input type="text" class="form-control"
                                                    id="BvolunteerID" placeholder="Volunteer ID">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Grade/Class/Course Name:
                                                    </b></label>
                                                <input type="text" class="form-control" id="gradeID"
                                                    placeholder="Grade/Class/Course Name">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Year Of Passing: </b></label>
                                                <input type="text" class="form-control"
                                                    id="passyearID" placeholder="Year Of Passing">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Result: </b></label>
                                                <input type="text" class="form-control"
                                                    id="resultID" placeholder="Result">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>% Marks: </b></label>
                                                <input type="text" class="form-control" id="marksID"
                                                    placeholder="% Marks">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>School Name: </b></label>
                                                <input type="text" class="form-control"
                                                    id="schoolID" placeholder="School Name">
                                            </div>
                                            <div class="col-md-4 my-2"></div>
                                            <hr>

                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Ben ID: </b></label>
                                                <input type="text" class="form-control"
                                                    id="beneficiaryID" placeholder="Beneficiary ID">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Performance ID: </b></label>
                                                <input type="text" class="form-control"
                                                    id="performanceID" placeholder="Performance ID">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Vol ID: </b></label>
                                                <input type="text" class="form-control"
                                                    id="BvolunteerID" placeholder="Volunteer ID">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Grade/Class/Course Name:
                                                    </b></label>
                                                <input type="text" class="form-control" id="gradeID"
                                                    placeholder="Grade/Class/Course Name">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Year Of Passing: </b></label>
                                                <input type="text" class="form-control"
                                                    id="passyearID" placeholder="Year Of Passing">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Result: </b></label>
                                                <input type="text" class="form-control"
                                                    id="resultID" placeholder="Result">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>% Marks: </b></label>
                                                <input type="text" class="form-control" id="marksID"
                                                    placeholder="% Marks">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>School Name: </b></label>
                                                <input type="text" class="form-control"
                                                    id="schoolID" placeholder="School Name">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                        aria-labelledby="pills-contact-tab">
                                        <div class="row">
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Ben ID: </b></label>
                                                <input type="text" class="form-control"
                                                    id="beneficiaryID" placeholder="Beneficiary ID">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Father's Name: </b></label>
                                                <input type="text" class="form-control"
                                                    id="fatherID" placeholder="Father's Name">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Mother's Name: </b></label>
                                                <input type="text" class="form-control"
                                                    id="motherID" placeholder="Mother's Name">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>No. of Siblings: </b></label>
                                                <input type="text" class="form-control"
                                                    id="siblingsID" placeholder="No. of Siblings">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>No. Of Family Members: </b></label>
                                                <input type="text" class="form-control"
                                                    id="familymemID"
                                                    placeholder="No. Of Family Members">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Yearly Income Of Family:
                                                    </b></label>
                                                <input type="text" class="form-control"
                                                    id="familyincomeID"
                                                    placeholder="Yearly Income Of Family">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Donation Amount Needed:
                                                    </b></label>
                                                <input type="text" class="form-control"
                                                    id="donAmtNeededID"
                                                    placeholder="Donation Amount Needed">
                                            </div>
                                            <div class="col-md-12 my-2">
                                                <label for=""><b>Justification for scholarship
                                                        requirement: </b></label>
                                                <input type="text" class="form-control"
                                                    id="donAmtNeededID"
                                                    placeholder="Justification for scholarship requirement (Max 100 words)">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Reference Name #1:
                                                    </b></label>
                                                <input type="text" class="form-control"
                                                    id="donAmtNeededID"
                                                    placeholder="Reference Name #1">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Reference Phone #1:
                                                    </b></label>
                                                <input type="text" class="form-control"
                                                    id="donAmtNeededID"
                                                    placeholder="Reference Phone #1">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Reference Phone #1:
                                                    </b></label>
                                                <input type="text" class="form-control"
                                                    id="donAmtNeededID"
                                                    placeholder="Reference Phone #1">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Reference Name #2:
                                                    </b></label>
                                                <input type="text" class="form-control"
                                                    id="donAmtNeededID"
                                                    placeholder="Reference Name #2">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Reference Phone #2:
                                                    </b></label>
                                                <input type="text" class="form-control"
                                                    id="donAmtNeededID"
                                                    placeholder="Reference Phone #2">
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <label for=""><b>Reference Phone #2:
                                                    </b></label>
                                                <input type="text" class="form-control"
                                                    id="donAmtNeededID"
                                                    placeholder="Reference Phone #2">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Tabs content end-->
                        </div>
                    </div>
            </div>


            <button type="submit" class="btn btn-primary my-3">Save</button>
            </form>

            <!-- [ Main Content ] end -->
        </div>
    </div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    // var tabEl = document.querySelector('button[data-bs-toggle="tab"]')
    // tabEl.addEventListener('shown.bs.tab', function (event) {
    //     event.target // newly activated tab
    //     event.relatedTarget // previous active tab
    // });
    // $('#myTab a').on('click', function (e) {
    //     e.preventDefault()
    //     $(this).tab('show')
    // });
</script>
{% endblock javascripts %}