{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="auth-wrapper aut-bg-img-side cotainer-fiuid align-items-stretch">
    <div class="row align-items-center w-100 align-items-stretch">
        <div class="d-none d-lg-flex col-lg-8 auto-bg-img align-items-center d-flex justify-content-center">
            <div class="col-md-8 text-center">
                <img src="/static/assets/img/Logo/logo1.png" alt="" srcset=""><br><br>
                {% comment %} <h1 class="text-white mb-5">Login in Aaghaz Foundation</h1> {% endcomment %}
                <p class="text-dark">In existence since 2004, Aaghaz Foundation works to eradicate illiteracy among
                    children of India by preventing students from dropping out of schools. Our mission is to ensure that
                    no child is deprived of education due to financial constraints.</p>
            </div>
        </div>
        <div class="col-lg-4 align-items-stret h-100 align-items-center d-flex justify-content-center">
            <div class=" auth-content text-center">
                <div class="mb-4">
                    <i class="feather icon-unlock auth-icon"></i>
                </div>
                <h3 class="mb-4">Login</h3>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="input-group mb-4">
                    <input type="password" class="form-control" placeholder="password">
                </div>
                <div class="form-group text-left">
                    <div class="checkbox checkbox-fill d-inline">
                        <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                        <label for="checkbox-fill-a1" class="cr"> Save credentials</label>
                    </div>
                </div>
                <a class="btn btn-primary shadow-2 mb-4" href="{% url 'index' %}">Login</a>

                <p class="mb-2 text-muted">Forgot password? <a href="{% url 'reset' %}">Reset</a></p>
                <p class="mb-0 text-muted">Don’t have an account? <a href="{% url 'register' %}">Signup</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}